.sliderContent{
    background-image: url(../../assets/images/section14.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    background-attachment: fixed;
    position: relative;
    &__slideImageContainer{
        margin:0 20px;
        height: 300px;
    }
    &__slideImage{
        width:100%;
        height: 100%;
        border-radius:12px;
    }   
}