.footer-section{
    padding:40px 0;
    &__mail{
        @include mq($from:768px){
            @include flex;
            flex-wrap: nowrap;
        }
        
        .mail{
            &__title{
                font-size:1rem;
                color: #212121a6;
                font-weight: 600;
            }
            &__desc{
                color:black;
                font-size: 13px;
            }
            &-action{
                &__enter{
                 padding: 20px 18px;
                }
                &__submit{
                    border-color:#ccc
                }
                &__enter,&__submit{
                     border-radius:0;
                 }
            }
        }
        
       
    }
    &__social-icons{
        @include mq($until:768px){
            display: flex;
            justify-content: center;
        }
    }
    &__icons{
        .nav{
            float: right;
        }
        .nav-item{
            margin: 0 10px;
            background-color: $primary-theme;
            &:hover{
                background-color: #0f6f61;
            }
            .nav-link{
                color:white;
            }
        }
    }

    
}

.footer-nav{
    background-color: #212121;
    padding: 40px 0 60px;
}

.foot-nav{
    &__title{
        font-size:0.9rem;
        color:#b0b0b0;
        font-weight: bold;
    }
    &__list{
        list-style-type: none;
        padding-left: 0;
    }   
    &__li{
        margin: 5px 0;
    }
    &__link{
        color: #b0b0b0;
        font-size:12px;
        &:hover{
            color: #00967f;
        }
    }
}

.footer-bottom{
    background-color: #212121;
    line-height: 70px;
    display: flex;
    .container{
        border-top: 1px solid #424242;
    }
    .footer-copyright{
        float: left;
        color: #b0b0b0;
    }
}